# Copy this file to .env and fill in the values.
# Never commit .env — it is gitignored.

OPENSEARCH_HOST=api.novasearch.org
OPENSEARCH_PORT=443
OPENSEARCH_USER=
OPENSEARCH_PASS=
OPENSEARCH_INDEX=          # your username (as per Lab 01)


IAEDU_URL=https://api.iaedu.pt/agent-chat//api/v1/agent/cmamvd3n40000c801qeacoad2/stream
IAEDU_KEY=
IAEDU_CHANNEL=

VLLM_URL=https://amalia.novasearch.org/vlm/v1
VLLM_KEY=amalia012026
